// Advertise

.video {
  &__item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &--src {
      width: initial;
    }
  }
}

.about__content {
  justify-content: space-between;
  align-items: center;

  &--img-item {
    width: 100%;
    height: auto;
    position: relative;
  }
  .social-share {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 44.6rem;
    height: 6.5rem;
    transform: translate(-50%, 0%);
    left: 50%;
    bottom: 0px;
    visibility: hidden;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $color-bg-light;
      opacity: 0.9;
      z-index: -1;
    }
    &__link {
      display: block;
      padding: 1rem;
      margin: 0 0.5rem;
      background: $color-bg;

      &:hover {
        border-radius: 100px;
        transition: all 0.3s linear;
      }
    }
    &__icon {
      width: 3rem;
      height: 3rem;
    }
  }
  &--img:hover .social-share {
    visibility: visible;
    transition: visibility 0.3s linear;
  }
}
.banner {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 2rem auto;
  // background: $color-bg-light;
  color: $color-white;
  padding: 5rem 0;
  text-align: center;

  &__content--body {
    padding: 2rem 0;
  }

  // Test Purpose
  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $color-bg-light;
    opacity: 0.6;
    z-index: -1;
  }
}
