@import "./variables";
@import "./base";
@import "./button";
@import "./animation";

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    &__title {
        font-size: 6rem;
        color:$color-white;

        &--span {
            display: block;
            line-height: 4.1rem;
            margin-bottom: 3rem;
        }
    }
    
    &__content {
        line-height: 1.6;
        padding-right: 5rem;
        margin-bottom: 4rem;
    }

    &__img img {
        max-width: 50rem;
    }

}


// Advantages Section

































