@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.7rem;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400;
  background-color: #5548b0;
  color: #d5ceed; }

::selection {
  background-color: #c88f86;
  color: #fff; }

.section__title {
  display: inline-block;
  position: relative;
  font-size: 3rem;
  padding: 2rem 0;
  color: #fff;
  font-weight: 800;
  margin-top: 50px; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .header__title {
    font-size: 6rem;
    color: #fff; }
    .header__title--span {
      display: block;
      line-height: 4.1rem;
      margin-bottom: 3rem; }
  .header__content {
    line-height: 1.6;
    margin-bottom: 4rem; }
  .header__img {
    width: 100%;
    overflow: hidden; }
    .header__img img {
      width: 100%; }

.advantages {
  margin-bottom: 100px;
  margin-top: 0 !important; }

.facility-description {
  justify-content: space-between; }

.marketing-box {
  margin-top: 20px;
  flex: 0 0 32%;
  padding: 30px 10px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px -8px black;
  border-radius: 8px; }
  .marketing-box__logo img {
    width: 150px;
    height: 150px;
    overflow: hidden; }
  .marketing-box__title {
    font-weight: 800;
    font-size: 16px;
    padding: 20px 0; }
  .marketing-box__desc {
    font-size: 14px;
    text-align: center; }
  .marketing-box:hover {
    transform: translateY(-10px);
    transition: all 0.5s ease-in-out; }

.video__item {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .video__item--src {
    width: initial; }

.about__content {
  justify-content: space-between;
  align-items: center; }
  .about__content--img-item {
    width: 100%;
    height: auto;
    position: relative; }
  .about__content .social-share {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 44.6rem;
    height: 6.5rem;
    transform: translate(-50%, 0%);
    left: 50%;
    bottom: 0px;
    visibility: hidden; }
    .about__content .social-share::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #7f6dd8;
      opacity: 0.9;
      z-index: -1; }
    .about__content .social-share__link {
      display: block;
      padding: 1rem;
      margin: 0 0.5rem;
      background: #5548b0; }
      .about__content .social-share__link:hover {
        border-radius: 100px;
        transition: all 0.3s linear; }
    .about__content .social-share__icon {
      width: 3rem;
      height: 3rem; }
  .about__content--img:hover .social-share {
    visibility: visible;
    transition: visibility 0.3s linear; }

.banner {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 2rem auto;
  color: #fff;
  padding: 5rem 0;
  text-align: center; }
  .banner__content--body {
    padding: 2rem 0; }
  .banner::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #7f6dd8;
    opacity: 0.6;
    z-index: -1; }

.faq__content summary {
  margin-top: 10px;
  outline: none; }

.faq__desc {
  margin-top: 10px;
  margin-left: 30px; }

.footer {
  text-align: center;
  padding: 5rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: #7f6dd8;
  margin-top: 50px; }
  .footer--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .footer--social-area {
    padding: 10px 0 30px 0; }
  .footer--header__text {
    font-size: 35px;
    font-weight: 800; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  color: #000;
  padding: 1.5rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10rem;
  position: relative;
  transition: all 0.2s;
  animation: moveToTop 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  border: none;
  cursor: pointer; }

.btn::after {
  background: #fff;
  display: inline-block;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.4s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: #fff; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-footer {
  margin: 50px 0 20px 0; }
  .btn-footer, .btn-footer:hover, .btn-footer:link, .btn-footer:visited {
    background-color: #5548b0;
    color: #ffffff; }
  .btn-footer::after {
    background: #5548b0; }
  .btn-footer:hover {
    background: #5548b0; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 3px;
  transition: all 0.2s;
  border-bottom: 1px solid #fff; }

.btn-text:hover {
  transform: translateY(-2px);
  background-color: #ffffff;
  color: #000;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  transform: translate(0); }

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@media (max-width: 768px) {
  .header__title {
    font-size: 35px;
    font-weight: 800;
    margin-top: 50px; }
  .header__img {
    margin-top: 30px; }
  .marketing-box {
    flex: 0 0 48%;
    max-width: 50%;
    margin: 0;
    margin-top: 20px; }
    .marketing-box__center {
      margin-left: 0 !important;
      margin-right: 0 !important; }
  .section__title {
    font-size: 30px; }
  .footer--header__text {
    font-size: 30px; }
  .btn, .btn:link, .btn:visited {
    padding: 1.5rem 3rem; } }

@media (max-width: 450px) {
  .marketing-box {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px; } }

@media (min-width: 425px) {
  .advantages {
    margin-top: 100px; } }

html,
body {
  margin: 0;
  padding: 0; }
